html {
  height: 100%
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Open Sans";
	font-weight: 300;
	height: 100%;
  margin: 0;
}

img {
  height: auto;
  width: 20vw;
}

h2{
  font-weight: lighter;
  font-size: 22px;
}

#homeSec{
  min-height: 100vh;
  background-image:linear-gradient(#fffdf4, white);
}

#aboutSec{
  color: #777;
  background-color: linear-gradient(white, #fffdf4);;
  min-height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
}

#workSec{
  color: #777;
  background-image:linear-gradient(#fffdf4, white);
  min-height: 100vh;
  font-weight:lighter;
}

#projSec{
  color: #777;
  background-image:linear-gradient(white, #fffdf4);
  min-height: 100vh;
  font-weight:lighter;
}

#CADSec{
  color: #777;
  background-image:linear-gradient(#fffdf4, white);
  min-height: 100vh;
  font-weight:lighter;
}


.projContainer {
  display: inline-grid;
  vertical-align: top;
  margin-right: -5px;
  overflow: visible;
  position:relative;
  vertical-align: top;
  width: 30%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;

  cursor: pointer;
}

.projContainer img {
transition: 0.3s;
}

.projContainer:hover img {
 transform: scale(1.2);
 -webkit-transform: scale(1.2);
}

.projContainer:hover h1 {
    color:#777;
}

.projInfoContainer {
  position: absolute;
  background: transparent;
  width: auto;
  height: auto;
  top: 0;
  left: 15%;
  z-index: 999;
  overflow: visible;
  opacity: 0;
  transition: 0.2s;
}

.projContainer:hover .projInfoContainer {
  opacity: 1;
}

.projSpec {
 color: #aaa;
 font-family: sans-serif;
}

/*homepage styling */
.header {
  padding-top: 200px;
  text-align: center;
  color: #454343;
  font-size: 60px;
}
.content {
  padding: 30px;
  text-align: center;
  /*color: transparent;*/
  font-size: 20px;
}

/*style for social media buttons */
.social-icons {
  text-align: center;
}

.social-icons a {
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  margin-right: 10px;
  color: black;

}
.social-icons a:hover {
  opacity: 0.6;
}

#Resume {
  height: 100%;
  width: 100%;
  margin: 0;
}


#godown-align{
  position:fixed;
  bottom: 0px;
  left: 100vh;
}

a { color: #777; text-decoration: none; }
.arrow {
  position: fixed;
  right:0px;
  bottom: 0px;
  text-decoration:
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #dad7d1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
