html {
  height: 100%
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Open Sans";
	font-weight: 300;
	height: 100%;
  margin: 0;
}

img {
  height: auto;
  width: 20vw;
}

h5{
  color:#9F9D78;
  padding-bottom: 0;
}

h6{
  color:#AAA000;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

h2{
  font-weight: lighter;
  font-size: 22px;
}

p{
  padding-top: 0;
  font-size: 2vh;
}

#homeSec{
  min-height: 100vh;
  background-image:linear-gradient(white, #fffdf4, white);
}

#aboutSec{
  color: #777;
  background-image: linear-gradient(white, #fffdf4, white);
  min-height: 100vh;
}

#workSec{
  color: #777;
  background-image: linear-gradient(white, #fffdf4, white);
  min-height: 100vh;
  font-weight:lighter;
}

#projSec{
  color: #777;
  background-image:linear-gradient(white, #fffdf4, white);
  min-height: 100vh;
  font-weight:lighter;
}

#CADSec{
  color: #777;
  background-image:linear-gradient(white, #fffdf4, white);
  min-height: 100vh;
  font-weight:lighter;
}

.item1 { grid-area: header; }
.item2 { grid-area: header-date; }
.item3 { grid-area: main; margin-left: 20px; }
.item5 { grid-area: list; }
.item6 { grid-area: spacer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main menu menu';
  grid-gap: 10px;
  margin-left: 10%;
  margin-right: 20%;
}

.grid-container > div {
  text-align: left;
  padding: 0 0;
  font-size: 4vh;
}
/* four columns side by side */
.column {
  float: left;
  width: 23%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Some left and right padding inside the container */
.container {
  padding: 0px 16px;
  position: relative;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  position: relative;
  color: grey;
}

.button {
  position: absolute;
  bottom: 3%;
  left: 5%;
  border: none;
  outline: 0;
  display: block;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 90%;
}

.button:hover {
  background-color: #555;
}
/*homepage styling */
.header {
  padding-top: 200px;
  text-align: center;
  color: #454343;
  font-size: 60px;
}
.content {
  padding: 30px;
  text-align: center;
  /*color: transparent;*/
  font-size: 20px;
}

/*style for social media buttons */
.social-icons {
  text-align: center;
}

.social-icons a {
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  margin-right: 10px;
  color: black;

}
.social-icons a:hover {
  opacity: 0.6;
}

#Resume {
  height: 100%;
  width: 100%;
  margin: 0;
}


#godown-align{
  position:fixed;
  bottom: 0px;
  left: 100vh;
}

a { color: #777; text-decoration: none; }
.arrow {
  position: fixed;
  right:0px;
  bottom: 0px;
  text-decoration:
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #dad7d1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
