.App {
  background-color: #f5f5f5;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

@media (max-width: 800px) {
  .App {
    min-height: 100vh;
    height: 100%;
  }
}

@font-face {
  font-family: "Commissioner";
  src: local("Commissioner"),
    url(../fonts/Commissioner/static/Commissioner-Regular.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Fraunces";
  src: local("Fraunces"),
    url("../fonts/Fraunces/static/Fraunces_120pt_SuperSoft_Wonky/Fraunces_120pt_SuperSoft_Wonky-Bold.ttf")
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Major_Mono_Display";
  src: local("Major_Mono_Display"),
    url(../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Space_Mono";
  src: local("Space_Mono"),
    url(../fonts/Space_Mono/SpaceMono-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}

.App-header {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .main-section {
    justify-content: center;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-section {
  font-family: Fraunces;
  font-size: 120px;
  text-align: left;
  color: #505050;
  width: 75%;
}

@media (max-width: 800px) {
  .name-section {
    width: 100%;
    font-size: 86px;
    text-align: center;
  }
}

.name {
  font-family: Fraunces;
  color: #fa6ba1;
}

.ani-section {
  width: 100%;
}

.container p {
  color: #505050;
  font-size: 12px;
}
