.exp-section {
  margin-left: 15%;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .exp-section {
    margin-left: 0;
  }
}

.exp-section-header {
  color: #505050;
  font-family: Mosk_Heading;
  font-size: 36px;
  margin-bottom: 20px;
  background-color: rgba(250, 107, 161, 0.1);
  border-bottom: 1px solid #fa6ba1;
  padding: 20px 28px;
}

@media (max-width: 800px) {
  .exp-section-header {
    font-size: 20px;
  }
}

.exp-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
}

.exp-card-body {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
  border-left: 1px solid #fa6ba1;
}

.exp-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.exp-number {
  color: #fa6ba1;
  font-family: Mosk_Heading;
  font-size: 20px;
  border-bottom: 3px solid #505050;
  padding-bottom: 7px;
  min-width: 10%;
}

@media (max-width: 800px) {
  .exp-number {
    font-size: 20px;
    width: unset;
  }
}

.exp-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  color: #505050;
  font-family: Mosk_Heading;
  font-size: 36px;
}

.logo-with-text {
  padding: 0px 20px 0px 0px;
}
.exp-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

@media (max-width: 800px) {
  .exp-more {
    font-size: 14px;
  }
}

.exp-stack {
  color: #fa6ba1;
  font-family: Space_Mono;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: right;
}

@media (max-width: 800px) {
  .exp-stack {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
  }
}

.exp-dates {
  color: #101010;
  font-weight: bold;
}

.exp-body {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .exp-body {
    flex-wrap: wrap;
  }
}

.exp-img {
  margin-top: 50px;
  margin-right: 50px;
}

@media (max-width: 800px) {
  .exp-img img {
    width: 200px;
  }
}

.exp-text {
  width: 400px;
  margin-top: 50px;
  text-align: left;
  font-family: Mosk_Normal;
  color: #101010;
  font-size: 18px;
}

@media (max-width: 800px) {
  .exp-text {
    width: unset;
    font-size: 14px;
  }
}

.exp-text p:first-child {
  margin-top: 0;
}
