.card {
  height: 100%;
  text-align: left;
}

.blurb {
  font-family: Commissioner;
  font-size: 20px;
  color: #010101;
}

.blurb p + p {
  max-width: 700px;
}

.first {
  font-family: Space_Mono;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blurb a {
  color: #fa6ba1;
  text-decoration: none;
}

@media (max-width: 800px) {
  .first {
    font-size: 20px;
  }
  .blurb {
    font-size: 14px;
  }
}

.resume {
  font-family: Space_Mono;
  margin-top: 10px;
}

.tag {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .tag {
    justify-content: flex-start;
  }
  .footer {
    margin-top: 30px;
  }
}

.tag img {
  margin-left: 10px;
  margin-right: 5px;
}
