.card {
  max-width: 700px;
  height: 100%;
  text-align: left;
}

.blurb {
  font-family: Commissioner;
  font-size: 20px;
  color: #010101;
}

.first {
  font-family: Fraunces;
  font-size: 28px;
  margin-bottom: 10px;
}

.blurb a {
  color: #fa6ba1;
  text-decoration: none;
}

@media (max-width: 800px) {
  .card {
    text-align: center;
    justify-self: center;
  }

  .first {
    font-size: 20px;
  }
  .blurb {
    font-size: 14px;
  }
}

.resume {
  font-family: Fraunces;
  margin-top: 10px;
}

.tag {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .tag {
    justify-content: flex-start;
  }
  .footer {
    margin-top: 30px;
  }
}

.tag img {
  margin-left: 10px;
  margin-right: 5px;
}
